<% content_for :header do -%>
  <%= stylesheet_link_tag "easy_authentication/sessions", :media => :all %>
<% end -%>

<% shadowbox "forgot_password_form" do %>
  <% form_tag "/user_password/send_password_token" do -%>
    <p>
      <%= label_tag t("user_password.forgot_password.login") %><br />
      <%= text_field_tag 'login', @login %>
    </p>
    <hr />
    <p>
      <%= submit_tag t("user_password.forgot_password.submit_button"), :id => "submit_button" %>
    </p>
  <% end -%>
<% end -%>
