#session_options
  = link_to t('.change_password', :default => 'Change Password'), edit_user_password_url(current_user)
  &nbsp;|&nbsp;
  = link_to t('.logout', :default => 'Logout {{login}}', :login => current_user.login.titleize), logout_url
