<p>
  <%%= form.label :name %%><br />
  <%%= form.text_field :name, :size => "50" %%>
</p>
<hr />
<p>
  <%%= form.label :description %%><br />
  <%%= form.text_area :description, :size => "60x3" %%>
</p>
<h2><%%= t("roles.assigned_rights") %%></h2>
<%% @right_groups.each do |name, rights| -%%>
  <h3><%%= name %%></h3>
  <ul>
    <%% for right in rights -%%>
      <%% content_tag :li, :class => "role_right" do -%%>
        <%% if @role.new_record? -%%>
          <%%= check_box_tag "role[right_ids][]", right.id %%>
        <%% else -%%>
          <%%= check_box_tag "role[right_ids][]", right.id,
            @role.rights.include?(right) %%>
        <%% end -%%>
        <%%= right.action_name %%>
      <%% end -%%>
    <%% end -%%>
  </ul>
<%% end -%%>
