<%% content_for :header do -%>
  <%%= stylesheet_link_tag "easy_authentication/login", :media => :all %>
<%% end -%>


<%% shadowbox "login_form" do %>
  <%% form_tag sessions_url do -%>
    <p>
      <%%= label_tag t("sessions.new.login") %><br />
      <%%= text_field_tag 'login', @login %>
    </p>
    <p>
      <%%= label_tag t("sessions.new.password") %><br/>
      <%%= password_field_tag 'password', nil %>
    </p>
    <p>
      <%%= submit_tag t("sessions.new.submit_button"), :id => "submit_button" %>
      <%%= check_box_tag "remember_me", "1", @remember_me %>
      <span><%%= t("sessions.new.remember_me") %></span>
    </p>
    <hr />
    <p><%%= link_to t("sessions.new.recover_password"),
      forgot_password_url, :class => :red %></p>
  <%% end -%>
<%% end -%>
