<div class="user_actions">
  <%= link_to t("users.actions.change_password_link"), edit_user_password_url(current_user) %>&nbsp;|
  <%= link_to t("users.actions.logout_link", :name => current_user.full_name), logout_url %>
</div>
