body * {
  font-family: helvetica, arial, clean, sans-serif;
  font-size: 14px;
}

body, html {
  margin: 0;
  padding: 0;
}

table {
  margin: 0;
}

table td {
  margin: 0;
  padding: 0;
  vertical-align: top;
}
