<h1>
  <div class="title_actions">
    <%%= link_to t("users.edit.cancel"), @user %%>
  </div>
  <%%= t("users.edit.title", :login => @user.login) %%>
</h1>

<%% form_for @user do |form| %%>
  <%%= error_messages_for :user %%>
  <p>
    <%%= form.label :password %%>
    <%%= required_field %%><br />
    <%%= form.password_field :password %%>
  </p>
  <p>
    <%%= form.label :password_confirmation %%>
    <%%= required_field %%><br />
    <%%= form.password_field :password_confirmation %%>
  </p>
  <hr />
  <p>
    <%%= submit_tag t("forms.save") %%>&nbsp;รณ
    <%%= link_to t("forms.cancel"), users_url, :class => :red %%>
  </p>
<%% end %%>
