<%% content_for :header do %%>
  <%%= stylesheet_link_tag 'sessions/new' %%>
<%% end %%>

<%% form_tag sessions_url do -%%>
  <div class="shadow">
    <div class="shadow1">
      <div class="shadow2">
        <div class="shadow3">
          <div id="login_form" class="container">
            <p>
              <%%= label_tag t("sessions.new.login") %%><br />
              <%%= text_field_tag 'login', @login %%>
            </p>
            <p>
              <%%= label_tag t("sessions.new.password") %%><br/>
              <%%= password_field_tag 'password', nil %%>
            </p>
            <p>
              <%%= submit_tag t("sessions.new.login_button"), :id => "login_button" %%>
              <%%= check_box_tag "remember_me", "1", @remember_me %%>
              <span><%%= t("sessions.new.remember_me") %%></span>
            </p>
            <hr />
            <p><%%= link_to t("sessions.new.recover_password"), home_path %%></p>
        </div>
      </div>
    </div>
  </div>
<%% end -%%>
