- title t('.title', :default => 'User Roles')

#sidebar
  - shadowbox 'roles_actions', :class => 'sidebar_section' do
    %p= link_to t('.create_role', :default => 'Create User Role'), new_role_url

#page.sidebar.roles
  - shadowbox 'page_content', :class => 'roles index' do
    = user_feedback
    %ul.registered_roles
      - for role in @roles
        - content_tag_for('li', role) do
          %p
            = link_to role.name, role, :class => 'big bold'
            - unless role.description.blank?
              %p= role.description
