body * {
  color: #333;
  font-family: helvetica, arial, clean, sans-serif;
  font-size: 14px;
}

body {
  background: #F9F9F9;
}

a {
  color: #4183c4;
}

h1 a,
a.red {
  color: #f00;
}

body, html {
  margin: 0;
  padding: 0;
}

table {
  margin: 0;
}

table td {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

a.important {
  font-weight: bold;
}

fieldset {
  background-color: #eee;
  border: none;
}

h1 {
  background-color: #E8F0F3;
  font-size: 19px;
  margin: -5px;
  margin-bottom: 10px;
  padding: 10px;
}

h2 {
  font-size: 17px;
  border-bottom: #ccc dotted 1px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 13px;
}

hr {
  border: none;
  border-bottom: #ccc dotted 1px;
  height: 0;
}


label {
  font-weight: bold;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

table {
  margin: 0 10px;
}

table td {
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  margin-left: 10px;
  padding: 0;
}

/* Shadow Effect */
.shadow {
  margin-left: 3px;
  margin-top: 3px;
}

.shadow .shadow1,
.shadow .shadow2,
.shadow .shadow3,
.sadow .container {
  position: relative;
  left: -1px;
  top: -1px;
}

.shadow1 {
  background-color: #c9c9c9;
}

.shadow2 {
  background-color: #b0b0b0;
}

.shadow3 {
  background-color: #a9a9a9;
}

/* Sidebar */
.sidebar_section {
  font-size: 16px;
  margin-bottom: 10px;
}

.sidebar_section .label {
  line-height: 18px;
  font-size: 11px;
  min-width: 40px;
  padding-right: 5px;
  text-align: right;
}

.container.sidebar_section {
  background-color: #E8F0F3;
}

.sidebar_section h1 {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  margin: -5px;
  margin-bottom: 5px;
  padding: 3px;
}

.sidebar_section h1 .title_actions {
  line-height: 21px;
}

/* Forms */
.comment {
  color: #999;
  font-size: 12px;
}

.required {
  color: #f00;
  font-weight: bold;
}

.title_actions {
  font-weight: normal;
  font-size: 12px;
  float: right;
  line-height: 25px;
}

.flash {
  background-color: #FFFFE0;
  border-color: #ffa82a;
  color: #ff9d0d;
  border: 3px solid;
  font-weight: bold;
  padding: 5px;
  margin: 0 3px 10px 0;
}

.flash.error {
  background-color: #FFFFE0;
  border-color: #f00;
  color: #f00;
}

/* Layout */

body, html {
  margin: 0 15px;
  min-width: 800px;
  padding: 0;
}

#layout {
  margin: 0;
  width: 100%;
}

#layout tr {
  clear: both;
}

#head {
  height: 30px;
}

#navigation_bar {
  height: 50px;
}

/* Content */
#content > td {
  padding-top: 20px;
}

/* Page */
#page {
}

#page_content {
  min-height: 100px;
}

.container {
  background-color: #fff;
  border: #ddd solid 3px;
  padding: 5px;
}

/* Sidebar */
#sidebar {
  padding-left: 10px;
  width: 30%;
}

#logo .container {
  text-align: center;
  padding: 15px 10px 10px 10px;
}

/* User Actions */
.user_actions {
  float: right;
}

.user_actions a {
  color: #f00;
}
