a {
  color: #4183c4;
}

h1 a,
a.red {
  color: #f00;
}

body {
  background: #F9F9F9;
  color: #333;
  font-family: helvetica, arial, clean, sans-serif;
  font-size: 14px;
}

hr {
  border: none;
  border-bottom: #ccc dotted 1px;
  height: 0;
}

label {
  font-weight: bold;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  background-color: #fff;
  border: #ddd solid 3px;
  padding: 5px;
}

/* Flash */

.flash {
  border: 3px solid;
  font-weight: bold;
  padding: 5px;
  margin: 0 3px 10px 0;
}

.flash {
  background-color: #FFFFE0;
  border-color: #ffa82a;
  color: #ff9d0d;
}

.flash.error {
  background-color: #FFFFE0;
  border-color: #f00;
  color: #f00;
}

/* Shadow Effect */
.shadow {
  margin-left: 3px;
  margin-top: 3px;
}

.shadow .shadow1,
.shadow .shadow2,
.shadow .shadow3,
.sadow .container {
  position: relative;
  left: -1px;
  top: -1px;
}

.shadow1 {
  background-color: #c9c9c9;
}

.shadow2 {
  background-color: #b0b0b0;
}

.shadow3 {
  background-color: #a9a9a9;
}

input[type=text],
input[type=password] {
  font-size: 24px;
  width: 97%;
}

#login_form,
#forgot_password_form,
#reset_password_form {
  margin: 7em auto;
  text-align: center;
  width: 325px;
}

#forgot_password_form .container,
#reset_password_form .container {
  padding-bottom: 40px;
}

.container {
  text-align: left;
}

#submit_button {
  float: right;
}
