<h1>
  <div class="title_actions">
    <%%= link_to t("user_password.edit.cancel"), home_url %>
  </div>
  <%%= t("user_password.edit.title", :full_name => @user.full_name, :login => @user.login) %>
</h1>

<%% form_for @user, :url => { :controller => "user_password", :action => "update" } do |form| %>
  <%%= error_messages_for :user %>
  <p>
    <%%= form.label :current_password %>
    <%%= required_field %><br />
    <%%= form.password_field :current_password %>
  </p>
  <h2><%= t("user_password.edit.new_password") %></h2>
  <p>
    <%%= form.label :password, t("user_password.edit.user_password") %>
    <%%= required_field %><br />
    <%%= form.password_field :password %>
  </p>
  <p>
    <%%= form.label :password_confirmation %>
    <%%= required_field %><br />
    <%%= form.password_field :password_confirmation %>
  </p>
  <hr />
  <p>
    <%%= submit_tag t("forms.save") %>&nbsp;รณ
    <%%= link_to t("forms.cancel"), @user, :class => :red %>
  </p>
<%% end %>
