<style type="text/css" media="screen">

  a {
    color: #f00;
  }

  body {
    background: #F9F9F9;
    background-image: none;
    font-family: helvetica, arial, clean, sans-serif;
    font-size: 14px;
  }

  form {
    margin: 7em auto;
    text-align: center;
    width: 325px;
  }

  hr {
    border: none;
    border-bottom: #ccc dotted 1px;
    height: 0;
  }

  input[type=text],
  input[type=password] {
    font-size: 24px;
    width: 99%;
  }

  label {
    font-weight: bold;
  }

  #login_form {
    background-color: #fff;
    padding: 15px;
    text-align: left;
    padding-bottom: 35px;
  }

  #submit_button {
    float: right;
  }

  span {
    font-size: 12px;
  }

  /* Shadow Effect */
  .shadow {
    margin-left: 3px;
    margin-top: 3px;
  }

  .shadow .shadow1,
  .shadow .shadow2,
  .shadow .shadow3,
  .sadow .container {
    position: relative;
    left: -1px;
    top: -1px;
  }

  .shadow1 {
    background-color: #c9c9c9;
  }

  .shadow2 {
    background-color: #b0b0b0;
  }

  .shadow3 {
    background-color: #a9a9a9;
  }

</style>

<%% form_for @user, :url => reset_password_url do |form| -%>
  <%%= form.hidden_field :login %>
  <%%= form.hidden_field :reset_password_token %>
  <div class="shadow">
    <div class="shadow1">
      <div class="shadow2">
        <div class="shadow3">
          <div id="login_form" class="container">
            <p>
              <%%= form.label :password %><br />
              <%%= form.password_field :password %>
            </p>
            <p>
              <%%= form.label :password_confirmation %><br />
              <%%= form.password_field :password_confirmation %>
            </p>
            <hr />
            <p>
              <%%= submit_tag t("user_password.reset_password.submit_button"), :id => "submit_button" %>
            </p>
        </div>
      </div>
    </div>
  </div>
<%% end -%>
