<%% content_for :header do -%%>
  <%%= stylesheet_link_tag "users/_form.css", :media => :all %%>
<%% end -%%>

<h1>
  <div class="title_actions">
    <%%= link_to t("users.new.cancel"), users_url %%>
  </div>
  <%%= t "users.new.title" %%>
</h1>

<%% form_for @user do |form| %%>
  <%%= error_messages_for :user %%>
  <% if default_options[:use_easy_contacts] %>
  <%% fields_for "user[person_attributes]", @user.person do |person| -%%>
    <table>
      <tr>
        <td>
          <%%= person.label :name %%>
          <%%= required_field %%><br />
          <%%= person.text_field :name %%>
        </td>
        <td>
          <%%= person.label :last_name %%>
          <%%= required_field %%><br />
          <%%= person.text_field :last_name %%>
        </td>
      </tr>
    </table>
  <%% end -%%>
  <hr />
  <%% fields_for "user[person_attributes][email_attributes][]", @user.person.emails.first do |email| -%%>
    <p>
      <%%= email.label :address %%>
      <%%= required_field %%><br />
      <%%= email.text_field :address %%><br />
      <span class="comment"><%%= t "users.new.email_comment" %%></span>
    </p>
  <%% end -%%>
  <% else -%>
    <table>
      <tr>
        <td>
          <%%= form.label :name %%>
          <%%= required_field %%><br />
          <%%= form.text_field :name %%>
        </td>
        <td>
          <%%= form.label :last_name %%>
          <%%= required_field %%><br />
          <%%= form.text_field :last_name %%>
        </td>
      </tr>
    <table>
    <hr />
    <p>
      <%%= form.label :email %%>
      <%%= required_field %%><br />
      <%%= form.text_field :email %%>
    </p>
  <% end -%>
  <hr />
  <p>
    <%%= form.label :login %%>
    <%%= required_field %%><br />
    <%%= form.text_field :login %%><br />
    <span class="comment"><%%= t "users.new.login_comment" %%></span>
  </p>
  <hr />
  <p>
    <%%= form.label :password %%>
    <%%= required_field %%><br />
    <%%= form.password_field :password %%><br />
    <span class="comment"><%%= t "users.new.password_comment" %%></span>
  </p>
  <p>
    <%%= form.label :password_confirmation %%>
    <%%= required_field %%><br />
    <%%= form.password_field :password_confirmation %%>
  </p>
  <hr />
  <p>
    <%%= submit_tag t("forms.save") %%>&nbsp;รณ
    <%%= link_to t("forms.cancel"), users_url, :class => :red %%>
  </p>
<%% end %%>
