<h1>
  <div class="title_actions">
    <%%= link_to t("forms.cancel"), @role %>
  </div>
  <%%= t("roles.edit.title", :name => @role.name) %>
</h1>

<%% form_for @role do |form| %>
  <%%= render :partial => form %>
  <hr />
  <p>
    <%%= submit_tag t("forms.update") %>&nbsp;รณ
    <%%= link_to t("forms.cancel"), roles_url, :class => :red %>
  </p>
<%% end %>
