<h1><%%= t("roles.new.title") %></h1>

<%% form_for @role do |form| %>
  <%%= render :partial => form %>
  <hr />
  <p>
    <%%= submit_tag t("forms.save") %>&nbsp;รณ
    <%%= link_to t("forms.cancel"), roles_url, :class => :red %>
  </p>
<%% end %>
