!link_color = #21A1D5
!default_border_color = #E0E0E0
!thin_border_width = 1px
!thick_border_width = 3px
!body_background_color = #EFEFEF

// *****************************************************************************
// Roles Controller
// *****************************************************************************
.roles.index
  li
    padding: 5px 0
    .important
      font-size: 1.2em
      font-weight: bold

.roles.edit, .roles.new
  #role_name, #role_description
    width: 40em

.roles.edit, .roles.new, .roles.show
  table.roles
    border-spacing: 20px
    width: 97%
    td
      border:
        color: !border_color
        style: solid
        width: 1px
      margin: 10px
      padding: 0 10px
      padding-bottom: 10px
      width: 20%
      h3
        margin: 5px
      ul
        padding-left: 15px
        li
          list-style-type: disc
        .rights
          background-color: #F5F5F5
          border:
            width: 1px
            style: dotted
            color: #CCC
          min-width: 80px

// *****************************************************************************
// Sessions Controller
// *****************************************************************************
body.sessions

  background:
    color: !body_background_color
    image: none
    repeat: none
  color: #333

  a
    color: #4183c4

  h1 a, a.red
    color: !link_color

  hr
    border: none
    border-bottom:
      color = !default_border_color
      style: solid
      width: !thin_border_width
    height: 0

  label
    font-weight: bold

  p
    margin-left: 10px
    margin-right: 10px

  #forgot_password_form .container, #reset_password_form .container
    padding-bottom: 40px

  #login_form, #forgot_password_form, #reset_password_form
    margin: 7em auto
    text-align: center
    width: 325px

    .container
      background-color: #FFF
      border:
        color = !default_border_color
        style: solid
        width = !thick_border_width
      padding: 5px
      text-align: left

      input[type=text], input[type=password]
        font-size: 2em
        width: 97%

      #submit_button
        float: right

// *****************************************************************************
// Toolbar session links for change password and logout
// *****************************************************************************
#session_options
  float: right

// *****************************************************************************
// Users Controller
// *****************************************************************************
.users
  .registered_users
  li
    padding: 5px 0
    .important
      font:
        size: 1.2em
        weight: bold

  #user_first_name,
  #user_last_name
    font:
      size: 1.5em
      weight: bold
