<%% content_for :header do -%>
  <%%= stylesheet_link_tag "easy_authentication/login", :media => :all %>
<%% end -%>

<%% shadowbox "reset_password_form" do %>
  <%% form_for @user, :url => reset_password_url do |form| -%>
    <%%= form.hidden_field :login %>
    <%%= form.hidden_field :password_reset_token %>
    <p>
      <%%= form.label :password %><br />
      <%%= form.password_field :password %>
    </p>
    <p>
      <%%= form.label :password_confirmation %><br />
      <%%= form.password_field :password_confirmation %>
    </p>
    <hr />
    <p>
      <%%= submit_tag t("user_password.reset_password.submit_button"), :id => "submit_button" %>
    </p>
  <%% end -%>
<%% end -%>
