<h1>
  <div class="title_actions">
    <%%= link_to t("users.edit.cancel"), @user %>
  </div>
  <%%= t("users.edit.title", :full_name => @user.full_name, :login => @user.login) %>
</h1>

<%% form_for @user do |form| %>
  <%%= error_messages_for :user %>
  <table>
    <tr>
      <td>
        <%%= form.label :first_name %>
        <%%= required_field %><br />
        <%%= form.text_field :first_name %>
      </td>
      <td>
        <%%= form.label :last_name %>
        <%%= required_field %><br />
        <%%= form.text_field :last_name %>
      </td>
    </tr>
  <table>
  <hr />
  <p>
    <%%= form.label :email %>
    <%%= required_field %><br />
    <%%= form.text_field :email %>
  </p>
  <hr />
  <p>
    <%%= form.label :password %>
    <%%= required_field %><br />
    <%%= form.password_field :password %>
  </p>
  <p>
    <%%= form.label :password_confirmation %>
    <%%= required_field %><br />
    <%%= form.password_field :password_confirmation %>
  </p>
  <hr />
  <p>
    <%%= submit_tag t("forms.save") %>&nbsp;รณ
    <%%= link_to t("forms.cancel"), @user, :class => :red %>
  </p>
<%% end %>
