<%% content_for :header do -%>
  <%%= stylesheet_link_tag "users/index", :media => :all %>
<%% end -%>

<%% content_for :sidebar do -%>
  <%% shadowbox "users_actions", :class => "sidebar_section" do %>
    <%%= link_to t("users.index.new_link"), new_user_url %>
  <%% end %>
<%% end -%>

<h1><%%= t "users.index.title" %></h1>

<ul>
  <%% for user in @users -%>
    <%% content_tag_for(:li, user) do %>
    <%%= link_to user.full_name, user, :class => "full_name important" %>
    (<%%= user.login %>)<br />
    <%%= auto_link user.email %>
    <%% end %>
  <%% end -%>
</ul>
