<%% content_for :sidebar do -%>
  <%% shadowbox "user_details", :class => "sidebar_section" do %>
    <h1>
<% if options[:use_easy_contacts] -%>
      <div class="title_actions">
        <%%= link_to t("users.show.user_details.edit_link"), edit_person_url(@user.person) %>
      </div>
<% end -%>
      <%%= t("users.show.user_details.title") %>
    </h1>
    <table>
      <tr>
        <td class="label"><%%= t("users.show.user_details.login") %></td>
        <td><%%= @user.login %></td>
      </tr>
      <tr>
        <td class="label"><%%= t("users.show.user_details.email") %></td>
<% if options[:use_easy_contacts] -%>
        <td><%%= auto_link @user.person.emails.first.address %></td>
<% else -%>
        <td><%%= auto_link @user.email %></td>
<% end -%>
      </tr>
    </table>
  <%% end %>
  <%% shadowbox "password_section", :class => "sidebar_section" do %>
    <%%= link_to t("users.show.password_section.edit_link"), edit_user_url(@user) %>
  <%% end %>

  <%% shadowbox "roles_section", :class => "sidebar_section" do %>
    <h1>
      <div class="title_actions">
        <%%= link_to t("users.show.roles_section.edit_link"), edit_user_role_url(@user) %>
      </div>
      <%%= t("users.show.roles_section.title") %>
    </h1>
    <%% unless @user.roles.blank? -%>
      <ul>
        <%% for role in @user.roles -%>
          <%% content_tag_for(:li, role) do -%>
            <%%= role.name %>
          <%% end -%>
        <%% end -%>
      </ul>
    <%% end -%>
  <%% end %>

<%% end -%>
<h1>
  <div class="title_actions">
    <%%= link_to t("users.show.back"), users_url %>
  </div>
<% if options[:use_easy_contacts] -%>
  <%%= @user.person.full_name %><br />
  <%% unless @user.person.title_description -%>
    <%%= @user.person.title_description %>
  <%% end -%>
<% else -%>
  <%%= @user.full_name %>
<% end -%>
</h1>
